<h1>Your cart: </h1>
@if (cart.length < 1) {
    <p>Cart is empty! Please add something..</p>
}
@else {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (fruit of cart; let idx = $index; track fruit) {
                <tr>
                    <td>
                        <p>{{fruit.name | titlecase}}</p>
                    </td>
                    <td>
                        <img [src]="fruit.image" alt="fruit.name">
                    </td>
                    <td>
                        <p>{{fruit.quantity}}</p>
                    </td>
                    <td>
                        <button (click)="incrementQuantity(idx, fruit)">+</button>
                        <button (click)="decrementQuantity(idx, fruit)">-</button>
                        <button (click)="removeFruit(idx)">X</button>
                    </td>                    
                </tr>  
            }
        </tbody>
    </table>
}
