<!-- <p>list-employee works!</p> -->

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (employee of employees; let idx = $index; track employee) {
                    <tr>
                        <td>{{ employee.id }}</td>
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.lastName }}</td>
                        <td>{{ employee.emailId }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
                            <button class="btn btn-danger" (click)="updateEmployee(employee.id)">Update</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
